@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    background-color: #f8fafc;
}

header {
    background-color: #f8fafc;
    box-shadow: 0px 3px 10px #ccc;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
}

.logo h1 {
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    cursor: pointer;
}

.nav-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    color: black;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .main-nav {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

}

.container {
    display: flex;
}

.fotos {
    width: 33vw;
}

.fotoPrincipal {
    margin-top: 3rem;
    margin-left: 9vw;
}

.fotoPrincipal img {
    object-fit: cover;
    width: 25.2rem;
    height: 30rem;
    cursor: pointer;
}

.fotoSecundarias {
    width: 30rem;
    display: flex;
    margin-left: 9vw;
}

.fotoMeio {
    margin: 0 0.5vw;
}

.foto img {
    width: 8rem;
    height: 10rem;
    cursor: pointer;
}

.informacoes {
    height: 30rem;
    margin-top: 3rem;
}

.item {
    margin-top: 15rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-top: 2.8rem;
}

.buttonCarrinho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black 1.5px;
    width: 15rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.buttonCarrinho button {
    width: 2vw;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    cursor: pointer;
}

.buttonCarrinho p {
    font-size: 1.5rem;
}

select {
    width: 15rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    background-color:  #f8fafc;
    border: solid black 1.5px;
}

.btnCarrinho {
    width: 15rem;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
}



.titleForm {
    margin-left: 30vw;
    margin-top: 3vh;
}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    height: 20vh;
    width: 100vw;
    
}

.cadastro {
    width: 45vw;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-left: 2.5vw;
    width: 20vw;

}

.inputs input {
    background-color: #d4d4d4;
    border: none;
    height: 4vh;
}

.telefone {
    margin-top: 25px;
}

.btnForm {
    margin-top: 25px;
    width: 10vw;
}

.btnForm input[type="submit"]{ 
    background-color: black;
    color: white;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    
}

.footer a {
    text-decoration: none;
    margin-left: 5vw;
    color: black;
}

