@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #f8fafc;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #f8fafc;
    box-shadow: 0px 3px 10px #ccc;
}

main {
    flex: 1;
}


.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;   
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
}

.logo h1 {
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a{
    color: black;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    color: black;
}

#active {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .main-nav {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

}

.sobreSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.sobre-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin-top: 5rem;
    padding: 3rem;
}

.sobre-titulo {
    margin-bottom: 3rem;
    font-size: 2rem;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center; 
    margin-bottom: 1rem;
}

.footer a {
    text-decoration: none;
    margin-left: 5vw;
    color: black;
}

